$md-primary: (
    50: #e3f4f9,
    100: #b8e3f0,
    200: #89d1e6,
    300: #5abedc,
    400: #36b0d5,
    500: #13a2cd,
    600: #119ac8,
    700: #0e90c1,
    800: #0b86ba,
    900: #0675ae,
    A100: #d9f0ff,
    A200: #a6ddff,
    A400: #73caff,
    A700: #59c0ff,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-accent: (
    50: #f2f7e8,
    100: #e0eac5,
    200: #cbdd9e,
    300: #b6cf77,
    400: #a6c459,
    500: #96ba3c,
    600: #8eb336,
    700: #83ab2e,
    800: #79a327,
    900: #68941a,
    A100: #ebffcb,
    A200: #d7ff98,
    A400: #c3ff65,
    A700: #b9ff4c,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);