
<section *ngIf="currentboard">

    <div class="flex justify-between items-center">
        <div class="flex gap-3 justify-center items-center" >
            <div class="title">{{currentboard.title ? currentboard.title : 'None'}}</div>
            <button *ngIf="currentboard.createdBy === currentUser?.uid" mat-icon-button (click)="openDialogEditBoard(currentboard)">
                <mat-icon>
                   edit
                </mat-icon>
            </button>
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="createTicket()">
            Crear Ticket
        </button>
    </div>
    <div *ngIf="ticketscomplets?.length !== 0 || ticketsnews?.length !== 0 || ticketsprocess?.length !== 0"
    class="grid grid-cols-3 gap-3 overflow-x-scroll bg-gray-200 mt-5 px-3" cdkDropListGroup>

       
        <app-ticket-card [tickets]="ticketsnews" [currentboard]="currentboard" 
        [currentUser]="currentUser" title = "Nuevo"></app-ticket-card>

        <app-ticket-card [tickets]="ticketsprocess" [currentboard]="currentboard"
        [currentUser]="currentUser" title = "En proceso"></app-ticket-card>

        <app-ticket-card [tickets]="ticketscomplets" [currentboard]="currentboard" 
        [currentUser]="currentUser" title = "Completado"></app-ticket-card>

        
    </div> 

    <div *ngIf="ticketscomplets?.length === 0 && ticketsnews?.length === 0 && ticketsprocess?.length === 0">
        <h3 class="text-center text-[4rem] font-bold">No hay tickets creados</h3>
    </div>

</section>

<section *ngIf="!currentboard">
    <h4 class="title text-center">{{noProjects !== '' ? noProjects : 'No existe este Proyecto o no tienes permisos sobre el.' }}</h4>
</section>