<section
  class="h-full  py-5"
  [id]="title ? title : 'Nuevo'"
  cdkDropList
  [cdkDropListData]="tickets"
  (cdkDropListDropped)="drop($event)"
>
  <h3 class="text-center subtitle">{{ title }}</h3>
  <div
    [class]="
      ticket.levelError === 'High'
        ? 'bg-red-200 hover:bg-red-100'
        : ticket.levelError === 'Medium'
        ? 'bg-yellow-200 hover:bg-yellow-100'
        : 'bg-green-200 hover:bg-green-100'
    "
    class="px-3 py-4 cursor-pointer mt-3 mb-3 rounded shadow-lg mb-4"
    (click)="viewTicket(ticket)"
    *ngFor="let ticket of tickets"
    cdkDrag
  >
    <div class="flex font-bold text-md mb-2">
      <div>{{ ticket.title }}</div>
    </div>
    <!-- <span class="text-gray-700 text-sm">
                    Responsable: {{ticket?.inchargeObj?.displayName ? ticket?.inchargeObj?.displayName : 'None'}}
                </span><br><br> -->
    <!-- <small *ngIf="ticket.createdAt">
                    {{ ticket.createdAt.toDate() | date: "dd/MM/yyyy" }}
                </small><br> -->
    <div class="flex flex-col gap-3 sm:flex-col md:flex-row lg:flex-row xl:flex-row justify-between items-center mt-[3rem]">
      <span
        class="bg-gray-500 rounded-full px-2 py-1 text-xs font-semibold mr-2 text-white"
      >
        {{ ticket.typeError }}
      </span>
      <!-- <img src="/assets/images/profile.webp" alt="" class="profile-image" *ngIf="!ticket.inchargeObj" /> -->
      <img
        [matTooltip]="
          ticket.inchargeObj.displayName ? ticket.inchargeObj.displayName : ''
        "
        [src]="ticket.inchargeObj.photoURL"
        alt=""
        class="profile-image"
        *ngIf="ticket.inchargeObj"
      />
    </div>
  </div>
</section>
