.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}
.profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.display-name {
    /* border-left: solid 1px rgba(0, 0, 0, 0.12); */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgb(50, 69, 236);
    padding: 0px 15px;
}