<mat-sidenav-container>

  <!-- SIDEBAR -->
  <mat-sidenav class="sidebar_static" [opened]="opened" mode="side" fxShow.sm="false" fxShow.xs="false">
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <mat-sidenav class="sidebar_modal " #sidenav fxShow.sm="true" fxShow.xs="true" fxShow="false" position="end">
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <!-- SIDEBAR -->
 
  <mat-sidenav-content>
    <mat-toolbar *ngIf="opened" class="elevation-02">
    <button class="btn_menu" mat-icon-button (click)="sidenav.toggle()" fxShow.sm="true" fxShow.xs="true" fxShow="false">
      <mat-icon>menu</mat-icon>
    </button>
      <app-navbar class="nav-bar" ></app-navbar>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <router-outlet></router-outlet> -->
