.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mat-sidenav-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.mat-sidenav-content {
    height: 100vh;
    background-color: #eef1f4;
}

.mat-sidenav {
    min-width: 240px;
    background-color: #fff;
}

.mat-toolbar {
    background-color: #fff;
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;

}

.btn_menu {
    display: none;
}
/* Ensure that your app's content doesn't overlap the toolbar */
/* .nav-bar {
    width: 100%;
} */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .sidebar_static{
        display: none;

    }
    .sidebar_modal{
        display: block;
    }
    .btn_menu{
        display: block;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* ... */
    .sidebar_static{
        display: none;

    }
    .sidebar_modal{
        display: block;
    }
    .btn_menu{
        display: block;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .sidebar_static{
        display: none;

    }
    .sidebar_modal{
        display: block;
    }
    .btn_menu{
        display: block;
    }
}

