<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
    
    <form class="flex flex-col " [formGroup]="ticketForm" *ngIf="!isupload">
       
        <section *ngIf="!isupload" class="flex flex-col gap-4 justify-center items-center">
        </section>
        <br>

    
        <mat-form-field appearance="outline">
            <mat-label>Titulo</mat-label>
            <input type="text" matInput formControlName="title">
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Equipo</mat-label>
            <mat-select formControlName="team">
                <mat-option *ngFor="let t of teams" [value]="t">
                    {{ t }}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Tipo Error</mat-label>
            <mat-select formControlName="typeError">
                <mat-option *ngFor="let b of bugs" [value]="b">
                    {{ b }}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Nivel Error</mat-label>
            <mat-select formControlName="levelError">
                <mat-option *ngFor="let l of levels" [value]="l">
                    {{ l }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Versión</mat-label>
            <input type="text" matInput formControlName="softwareVersion">
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <mat-label>Descripcion</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let s of statusss" [value]="s">
                    {{ s }}
                </mat-option>
            </mat-select>
        </mat-form-field>

      

        <mat-form-field appearance="outline">
            <mat-label>Responsable</mat-label>
            <mat-select formControlName="incharge">
                <ng-container *ngIf="us.users$ | async as users">
                    <mat-option *ngFor="let user of users" [value]="user.uid">
                        {{ user.displayName }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>



    </form> 
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" [disabled]="ticketForm.invalid" (click)="handleTicket()">
        {{data.labelButton}}
    </button>
</mat-dialog-actions>